.idmain{
    margin-top: 110px;
}

#idh1{
    text-align: center;
}

.identire{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8vh;
    margin-top: 60px;
}

#idp1{
    font-weight: 500;
    font-size: 30px;
    margin-left: 45px;
    margin-top: -1px;
}

#idp2{
    margin-left: 45px;
    color: #757575;
    margin-top: -20px;
}

#idp3{
    text-decoration: underline;
}

.idinterior{
    display: flex;
    flex-direction: row;
    margin-left: 45px;
    margin-top: -20px;
}

#arrow{
    margin-left: 280px;
}

.idleft{
    background-color: #F0F0F0;
    width: 500px;
    border-radius: 20px;
}

#brown{
    margin-left: 32px;
    margin-top: 20px;
}

.idup{
    display: flex;
    flex-direction: row;
    gap: 3vh;
}

.idinteriora{
    display: flex;
    flex-direction: row;
}

#arrow1{
    margin-left: 130px;
    margin-top: 5px;
}

#idp3a{
    text-decoration: underline;
}

#idp1a{
    font-weight: 500;
    font-size: 30px;
}

#idp2a{
    color: #757575;
    margin-top: -20px;
}

.idup{
    background-color: #F0F0F0;
    width: 640px;
    border-radius: 20px;
    height: 300px;
}

#mar{
    margin-left: 20px;
    margin-top: 20px;
}

#idp1b{
    font-weight: 500;
    font-size: 30px;
}

.idinteriorb{
    display: flex;
    flex-direction: row;
}

#arrow2{
    margin-left: 130px;
    margin-top: 3px;
}

.iddownleft{
    background-color: #63F0BE;
    height: 260px;
    width: 280px;
    padding-left: 20px;
    padding-top: 0.5px;
    border-radius: 20px;
    margin-top: 30px;
}

.iddown{
    display: flex;
    flex-direction: row;
    gap: 6vh;
}

.iddownright{
    background-color: #0D0D0D;
    color: white;
    border-radius: 20px;
    margin-top: 30px;
    padding-left: 20px;
    padding-top: 0.5px;
    height: 260px;
    width: 280px;
}